<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>RamIO</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        .p-top       { padding-top:15%; }
        .bg-carolina        { background-color: #7BAFD4; }
        .bg-white   { background: #ffffff; }
        .text-gray   { color: #666666; }
    </style>
</head>
<body class="bg-carolina p-top text-gray">
<div class="container">

    <div class="jumbotron text-center bg-white">
        <h1><span class="fa fa-user"></span> RamIO</h1>

        <p>Login or Register</p>

        <a href="/login" class="btn btn-info"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-info"><span class="fa fa-user"></span> Signup</a>
    </div>

</div>
</body>
</html>
