<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>RamIO</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="views.css">
</head>

<body class="bg-carolina text-gray">
<div class="container">

    <div class="jumbotron text-center bg-white m-top-up">
        <h1><span class="fa fa-university"></span> RamIO</h1>

        <p>Login or Register</p>

        <a href="/login" class="btn btn-info"><span class="fa fa-sign-in"></span> Login</a>
        <a href="/signup" class="btn btn-info"><span class="fa fa-user-plus"></span> Signup</a>
    </div>

</div>
</body>
</html>
