<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
        body        { background-color: #77B3D6}
    </style>
    <script src="html5-canvas-bar-graph.js"></script>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-book"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm fa fa-sign-out">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <p>
                    <strong>id</strong>: <%= user.id %><br>
                    <strong>username</strong>: <%= user.username %><br>
                    <strong>password</strong>: <%= user.password %>
                </p>

                <p>
                    <a href="/game" class="btn btn-default"><span class="fa fa-gamepad"></span> Play Game!</a>
                </p>

            </div>

            <!-- TODO getting 404s for either attempt at loading the canvas graph js files.
                        Make a routes.js change to fix this somehow? or just a localhost work around issue?  -->
            <!-- Graph of player's last game sessions up to last 5 sessions -->
            <canvas id="ProfileSessionHistoryGraph"></canvas>

            <!--<script src="barGraph.js"></script>-->
            <script type="text/javascript">
                var context = document.getElementById("ProfileSessionHistoryGraph").getContext("2d");

                var graph = new BarGraph(context);
                graph.margin = 5;
                graph.height = 300;
                graph.width = 200;
                graph.colors = ["purple", "yellow", "purple", "yellow", "purple"];
                graph.backgroundColor = "#fff"
                graph.yAxisLabelArr = ["Score/Size"];

                <!-- temporary JSON object for testing -->
                SessionHistory = [{session: 1, highScore: 10}, {session: 2, highScore: 500}]
                document.write(Object.key(SessionHistory).length);
                switch (SessionHistory.length) {
                    case 1:
                        graph.xAxisLabelArr = ['1'];
                        graph.update(SessionHistory[1]);
                        break;
                    case 2:
                        graph.xAxisLabelArr = ['1', '2'];
                        graph.update(SessionHistory[1], SessionHistory[2]);
                        break;
                    case 3:
                        graph.xAxisLabelArr = ['1', '2', '3'];
                        graph.update(SessionHistory[1], SessionHistory[2], SessionHistory[3]);
                        break;
                    case 4:
                        graph.xAxisLabelArr = ['1', '2', '3', '4'];
                        graph.update(SessionHistory[1], SessionHistory[2], SessionHistory[3], SessionHistory[4]);
                        break;
                    case 5:
                        graph.xAxisLabelArr = ['1', '2', '3', '4', '5'];
                        graph.update(SessionHistory[1], SessionHistory[2], SessionHistory[3], SessionHistory[4], SessionHistory[5]);
                        break;
                    default:
                        document.write("Play some games to get your high scores as a cool graph! :D");
                        break;
                }


            </script>


        </div>

    </div>

</div>
</body>
</html>
