<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>RamIO</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="views.css">
</head>

<body class="bg-carolina text-gray">
<div class="container">

    <div class="col-sm-6 col-sm-offset-3">

        <div class="jumbotron text-center bg-white m-top-up">
            <h2><span class="fa fa-pencil-square-o text-carolina"></span> Signup</h2>

            <!-- show any messages that come back with authentication -->
            <% if (message.length > 0) { %>
            <div class="alert alert-danger alert-size"><%= message %></div>
            <% } %>

            <!-- LOGIN FORM -->
            <form action="/signup" method="post">
                <div class="form-control input-group">
                    <span class="input-group-addon"><span class="fa fa-user"></span></span>
                    <input type="text" class="form-control" name="username" placeholder="Username">
                </div>
                <div class="form-control input-group">
                    <span class="input-group-addon"><span class="fa fa-lock"></span></span>
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>

                <button type="submit" class="btn btn-info"><span class="fa fa-user-plus"></span> Signup</button>
            </form>
        </div>

        <div class="page-footer text-center text-gray">
            <p>Already have an account? <a href="/login" class="text-white">Login</a></p>
            <p>Or go <a href="/" class="text-white">home</a>.</p>
        </div>
    </div>

</div>
</body>
</html>
