.m-top-up       { margin-top: 15%; }
.m-top-zero     { margin-top: 0; }
.p-top-zero     { padding-top: 0; }
.bg-carolina    { background-color: #7BAFD4; }
.bg-white       { background: #ffffff; }
.bg-gray        { background: #999999; }
.text-darkgray  { color: #333333; }
.text-gray      { color: #666666; }
.text-black     { color: #000000; }
.text-white     { color: #ffffff; }
.text-carolina  { color: #7BAFD4; }
.link-white     { color: #ffffff; }
